<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzlw.itc.mapper.Collectionvmapper">

    <insert id="insertacollectionv">
        insert into collectionv
            (userid,videoid)
        values
            (#{userid},#{videoid})
    </insert>
    <delete id="deleteacollectionv">
        delete from collectionv where `userid` = #{userid} and videoid = #{videoid}
    </delete>
    <delete id="decollvforv">
        delete from collectionv where videoid = #{videoid}
    </delete>
</mapper>