<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzlw.itc.mapper.Goodvmapper">

    <insert id="insertagoodv">
        insert into goodv
            (userid,videoid)
        values
            (#{userid},#{videoid})
    </insert>
    <delete id="deleteagoodv">
        delete from goodv where `userid` = #{userid} and videoid = #{videoid}
    </delete>
    <delete id="degoodvforv">
        delete from goodv where videoid = #{videoid}
    </delete>
</mapper>
