<?xml version="1.0" encoding="UTF-8"?>
<!-- config文件的约束 -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- MyBatis的主配置文件 -->
<configuration>
    <properties>
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/system_qanda?characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=UTC"/>
        <property name="username" value="root"/>
        <property name="password" value="Jzwl111!"/>
    </properties>
    <!-- 配置环境，default是指默认应用内部哪一个环境 -->
    <environments default="mysql">
        <!-- 配置mysql的环境 -->
        <environment id="mysql">
            <!-- 配置事务的类型 -->
            <transactionManager type="JDBC"/>
            <!-- 配置数据源（连接池） -->
            <dataSource type="POOLED">
                <!-- 配置连接数据库的基本信息 -->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/system_qanda?characterEncoding=utf-8&amp;useSSL=false&amp;serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="Jzwl111!"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 指定一组映射配置文件的路径，映射配置文件指的是给dao/mapper接口进行配置的文件，包含SQL代码和映射定义信息 -->
    <mappers>
        <mapper resource="mapper/Usermapper.xml"/>
    </mappers>
</configuration>