body {
    background-color: rgba(25, 24, 24, 0.14);
    /*background-image: url(/static/image/background111.jpg);*/
    background-repeat: no-repeat;
    background-size: cover; //背景图适应屏幕
}
.login_box {
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin: auto;
    margin-top: 150px;
    border-radius: 5px;
    overflow: hidden;//.title设置margin-top无效，给父元素设置overflow:hidden;
}
.title {
    text-align: center;
    font-size: 28px;
    color: #000;
    margin-top: 80px;
    margin-bottom: 10px;
    letter-spacing: 3px;
    font-family: sans-serif;
}
.input_box {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    margin-top: 20px;
    margin-left: 50px;
}
.button_box {
    width: 300px;
    height: 35px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 5px;
    background-color: #64a9d9;
    cursor: pointer;
    color: #fff;
}
.logo_box {
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    top: 100px;
    right: 46.7%;
    border: solid 5px #A68364;
    text-align: center;
}
.logo_img {
    margin-top: 2px;
    width: 100px;
    height: 100px;
}