<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>展示帖子</title>
    <script src="/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/layui-v2.6.8/layui/css/layui.css">
</head>
<body>
    <div>
        <div class="display"></div>
        <div class="gandc"></div>
    </div>
    <div class="addcomment">
        <form action="/addcomment" method="get">
            <input id="type" type="hidden" name="type" value="posts">
            <input id="userid" type="hidden" name="userid" value="">
            <input id="itid" type="hidden" name="itid" value="">
            <textarea id="content" name="content" class="content1" cols="20" maxlength="400"></textarea>
            <button class="button1">发布评论</button>
        </form>
    </div>
    <div class="comment"></div>
<script>
    var posts = ""
    $.ajax({
        url:"/getposts",
        type:"post",
        dataType:"json",
        success:function (data){
            posts = data
            var thehtml = "<h1 class='displayh1'>标题:&nbsp;&nbsp;" + posts.title +"</h1>"

            str = "<div class='sty1'>"
                      +"<p>内容:&nbsp;&nbsp;"+ posts.content +"</p>"
                  +"</div>"

            thehtml = thehtml + str
            $('.display').html(thehtml)
        },
        error:function (xhr,status){
            console.log("错误了")
            console.log(status)
        }
    })
    var user = ""
    $.ajax({
        url:"/transmitinfo",
        type:"post",
        dataType:"json",
        success:function (data){
            user = data
            var result = 0
            var thehtml = "<div class='sty2'>"
                                +"<h1 class='sty2h1'>帖子的点赞和收藏</h1>"
                                +"<br><h2>用户简介:</h2><br>"
                                +"<img src= '" + posts.user.headpicture.padress + "'>"
                                +"<h4>发布者:"+posts.user.username+"</h4>"
                                +"<br><h4>发布时间:"+ posts.time+"</h4><br><br>"
                                +"<br><h3>点赞数:"+posts.numgood+"</h3>"
                                +"<br><h3>收藏数:"+posts.numcollection+"</h3><br>"
                            +"</div>"
            try {
                var str = ""
                user.goodps.forEach((item,index) => {
                    if(item.postsid === posts.id){
                        str = "<a title='取消点赞' href='/deletegoodp?userid="+user.id+"&postsid="+posts.id+"'><i class=\"layui-icon\" style=\"font-size: 30px;display: inline; color: #df0707a8;\">&#xe68f;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;"
                        thehtml = thehtml + str
                        result++
                        throw new Error('找到了')
                    }
                })
            }catch (e) {
                if (e.message !== "找到了") throw e
            }
            //如果本来就没有点赞直接显示可以点赞
            if (user.goodps.length === 0){
                str = "<a title='点赞' href='/addgoodp?userid="+user.id+"&postsid="+posts.id+"'><i class=\"layui-icon\" style=\"font-size: 30px;display: inline; color: #df0707a8;\">&#xe68c;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;"
                thehtml = thehtml + str
            }
            //没有进入if就可以点赞
            else if (result === 0){
                str = "<a title='点赞' href='/addgoodp?userid="+user.id+"&postsid="+posts.id+"'><i class=\"layui-icon\" style=\"font-size: 30px;display: inline; color: #df0707a8;\">&#xe68c;</i></a>&nbsp;&nbsp;&nbsp;&nbsp;"
                thehtml = thehtml + str
            }
            //收藏
            result = 0
            try {
                var str = ""
                user.collectionps.forEach((item,index) => {
                    if(item.postsid === posts.id){
                        str = "<a title='取消收藏' href='/deletecollectionp?userid="+user.id+"&postsid="+posts.id+"'><i class=\"layui-icon\" style=\"font-size: 30px;display: inline; color: #df0707a8;\">&#xe658;</i></a>"
                        thehtml = thehtml + str
                        result++
                        throw new Error('找到了')
                    }
                })
            }catch (e) {
                if (e.message !== "找到了") throw e
            }
            //如果本来就没有点赞直接显示可以点赞
            if (user.collectionps.length === 0){
                str = "<a title='收藏' href='/addcollectionp?userid="+user.id+"&postsid="+posts.id+"'><i class=\"layui-icon\" style=\"font-size: 30px;display: inline; color: #df0707a8;\">&#xe600;</i></a>"
                thehtml = thehtml + str
            }
            //没有进入if就可以点赞
            else if (result === 0){
                str = "<a title='收藏' href='/addcollectionp?userid="+user.id+"&postsid="+posts.id+"'><i class=\"layui-icon\" style=\"font-size: 30px;display: inline; color: #df0707a8;\">&#xe600;</i></a>"
                thehtml = thehtml + str
            }
            $('.gandc').html(thehtml)
            //渲染评论框
            $("#userid").attr('value',user.id)
            $("#itid").attr('value',posts.id)
        },

        error:function (xhr,status){
            console.log("错误了")
            console.log(status)
        }
    })
    $.ajax({
        url:"/getpostscomment",
        type:"post",
        dataType:"json",
        success:function (data){
            var comment = data
            var thehtml = "<h1>" + "评论区" +"</h1>"
            comment.forEach((item,index) => {
                str = "<div class='star2'>"
                      +"<span style='color: #243b65; font-family: 等线'>用户" + item.user.username + "评论:</span><hr>"
                      +"<br><h3 style='color: #243b65; font-family: 等线'>" +item.content + "</h3>"
                      +"</div>"
                thehtml = thehtml + str
            })
            $('.comment').html(thehtml)
        },
        error:function (xhr,status){
            console.log("错误了")
            console.log(status)
        }
    })
</script>
</body>
</html>