<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传视频</title>
    <link rel="stylesheet" href="/static/css/csslogup.css">
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
<div class="rg_layout" style="margin-top: 6%">
    <div class="rg_left">
        <p>视频上传</p>
        <p>UPDATE INFORMATION OF USER</p>
    </div>
    <div class="rg_center">
        <div class="rg_form">
            <form action="/uploadVideo" method="post" enctype="multipart/form-data">
                <br><br><br><br><br><br><br>
                <table>
                    <!--label 标签的作用是当点击文字也会跳到文本输出框-->
                    <!--for属性与ID属性对应规定 label 绑定到哪个表单元素。-->
                    <tr>
                        <td class="td_left"><label for="file">文件上传：</label> </td>
                        <td class="td_right"><input type="file" name="file"  id="file"></td>
                    </tr>
                    <tr>
                        <td class="td_left"><label for="shipin">上传地址：</label> </td>
                        <td class="td_right">
                            <select name="shipin" id="shipin">
                                <option value="/video/">视频文件</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button id="btn_sub">确认上传</button>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="error"></div>
        </div>
    </div>
</div>
</body>
</html>