<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>回答问题</title>
  <link rel="stylesheet" href="/static/css/csslogup.css">
  <script src="/static/js/jquery.min.js"></script>
</head>
<body>
<div class="rg_layout" style="margin-top: 6%">
  <div class="rg_left">
    <p>写一个帖子</p>
    <p>ADD A POSTS</p>
  </div>
  <div class="rg_center">
    <div class="rg_form">
      <form action="/writeposts" method="post">
        <br><br><br><br><br><br><br>
        <table>
          <!--label 标签的作用是当点击文字也会跳到文本输出框-->
          <!--for属性与ID属性对应规定 label 绑定到哪个表单元素。-->
          <tr>
            <td class="td_left"><label for="title">标题</label> </td>
            <td class="td_right"><input type="text" name="title" value="" id="title" class="password"></td>
          </tr>
          <tr>
            <td class="td_left"><label for="content">内容</label> </td>
            <td class="td_right"><textarea id="content" name="content" class="content"
                                           style="resize:none;width: 400px;height: 140px;border: 1px solid #A6A6A6;border-radius: 5px;padding-left: 10px;"
                                           cols="20" maxlength="400"></textarea></td>
          </tr>
          </tr>
            <td colspan="2" align="center">
              <button id="btn_sub">确认提交</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
</body>
</html>